<!DOCTYPE html>
<html>

<head>
<title>Item list</title>
<style>
  body {background-color: skyblue;
        text-align: center;}
  h1   {color: white;
        text-align: center;
        font-size: 200px;}

</style>
</head>

<body>

<h1>Validation error!!</h1>
<form action="/users">
    <input type="submit" value="Go back" />
</form>
</body>
</html>
